<%- include('../shared/header') %>
<style>
    .card:hover{
        transform: translateY(-5px);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }
</style>
    <div class="bg-primary text-center p-3 text-white">
        <h2><%= lessonTitle %></h2>
    </div>
    <div class="container">
        <a class="btn btn-secondary" href="/">Back</a>
        <%- include('../shared/partials/alert') %>
    </div>
    <% if(roles.indexOf('admin') !==-1) { %>
        <div class="container my-3 p-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createLesson">
                Create Level
            </button>
            
        </div>
        <!-- Modal -->
        <div class="modal fade" id="createLesson" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="createLessonLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createLessonLabel">Create Level</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label>After Level:</label>
                        <select class="form-select" aria-label="after level selector" data-lesson-id="<%= lesson_id %>" id="after_level_selector">
                            <% data.forEach((item,i) => { %>
                                <% if(data.length > i) { %>
                                    <option value="<%= i+1 %>" selected><%= item.level_name %></option>
                                <% }else { %>
                                    <option value="<%= i+1 %>"><%= item.level_name %></option>
                                    <% } %>
                            <% }) %>
                        </select>
                        <div class="m-1 text-center">
                            
                            <a href="/new_level/<%= lesson_id %>/material" id="create_material" class="btn btn-primary w-50">Create
                                Material</a>
                            </div>
                            <div class="m-1 text-center">
                                <a href="/new_level/<%= lesson_id %>/task" id="create_task" class="btn btn-primary w-50">Create
                                    Task</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                <div class="container p-2">
                    <div class="row">
                        <% data.forEach(item => { %>
                            <div class="col-sm-6 col-md-4 mb-2 mb-md-2">
                                <div class="card glass-container">
                                    <div class="card-body">
                                        <h5 class="card-title text-center"><%= item.level_name %></h5>
                                        <div class="text-center">
                                            <a class="btn btn-outline-primary m-2 w-50" href="/material/<%= item.lesson_id%>/level/<%= item.id %>">
                                                <%= item.isTask == 0 ? "See Topic" : "Take Quiz" %>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% });%>
                        </div>

            </div>

            <%- include('../shared/footer') %>