<%- include('../shared/header') %>
    <div class="container">
        <a href="/lesson/<%=lesson_id%>" class="btn btn-secondary">Back</a>
        <h2>New Material</h2>
        <%- include('../shared/partials/alert') %>
        <form action="/create_material" method="post" id="create_material">
            <div class="text-end mb-3">
                <input type="submit" value="Create" class="btn btn-danger w-25">
                <input type="hidden" name="afterLessonNumber" value="<%= afterLessonNumber%>">
            </div>
            <div class="mb-2">
                <label for="title" class="form-label">Level Title <span class="text-danger">*</span></label>
                <input type="text" name="title" id="title" class="form-control" required>
            </div>
            <input type="hidden" name="isTask" value="0">
            <input type="hidden" name="lesson_id" value="<%= lesson_id %>">
            <textarea class="form-control" id="MyID" name="description"></textarea>
        </form>
    </div>
    <script src="/simplemde.min.js"></script>
    <script>
        var simplemde = new SimpleMDE({
            element: $("#MyID")[0],
            renderingConfig: {
                singleLineBreaks: false,
                codeSyntaxHighlighting: true,
            },
        });
    </script>
    <%- include('../shared/footer') %>