<%- include('../shared/header') %>
    <div class="container">
        <a href="/lesson/<%=lesson_id%>" class="btn btn-secondary">Back</a>
        <h2 class="text-white">New Task</h2>
        <%- include('../shared/partials/alert') %>
        <form action="/create_task" method="post" class="submit-form">
            <div class="text-end mb-3">
                <input type="submit" value="Create" class="btn btn-danger w-25">
                <input type="hidden" name="isTask" value="1">
                <input type="hidden" name="afterLessonNumber" value="<%= afterLessonNumber %>">
                <input type="hidden" name="lesson_id" value="<%= lesson_id %>">
            </div>
            <div class="mb-2">
                <label for="title" class="form-label"><span class="text-white">Level Title</span> <span class="text-danger">*</span></label>
                <input type="text" name="title" id="title" class="form-control" required>
            </div>
            <div class="container" id="question-container">
                <div class="mt-5 border">
                    <div class="remove-question btn btn-danger float-end m-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor" class="mt-1" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                        </svg>
                    </div>
                    <div class="m-2">
                        <label class="text-white">Question</label>
                        <textarea name="question[]" class="form-control" required>Question</textarea>
                    </div>
                    <div class="choice-container m-2" aria-value="0">
                        <div class="input-group my-2">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="radio" value="Option" name="correctAnswer[0]">
                            </div>
                            <input type="text" class="form-control option-input" value="Option" autocomplete="off" name="questionChoice[]" onclick="this.select();" required>
                            <div class="btn btn-danger remove-choice m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor" class="mt-1" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="choice_length" value="1" class="choice-counter">
                    <div class="m-2">
                        <label for="description" class="text-white">Description of Correct Answer</label>
                        <textarea name="description[]" class="form-control" id="description"></textarea>
                    </div>
                    <div class="btn btn-primary m-2 add-choice">Add Choice</div>
                </div>
            </div>
            <div class="btn btn-primary float-end mt-3" id="addQuestion">Add Question</div>
        </form>
    </div>
    <%- include('../shared/footer') %>