<%- include('../shared/header') %>
    <div class="container">
        <a href="/material/<%=data[0].lesson_id%>/level/<%=data[0].id%>" class="btn btn-secondary">Back</a>
        <h2 class="text-white">Edit <%= data[0].isTask == '0' ? "Material" : data[0].isTask == '1' ? "Task" : "Code" %></h2>
        <%- include('../shared/partials/alert') %>
        <% if(data[0].isTask=='0' ){ %>
            <form action="/edit_material/<%= data[0].lesson_id %>/<%= data[0].id %>" method="post" id="update_material" class="submit-form">
                <div class="text-end mb-3">
                    <input type="submit" value="Update" class="btn btn-danger w-25">
                </div>

                <div class="mb-2">
                    <label for="title" class="form-label"><span class="text-white">Level Title </span> <span class="text-danger">*</span></label>
                    <input type="text" name="title" id="title" class="form-control" value="<%= data[0].level_name %>"
                        required>
                </div>
                <input type="hidden" name="isTask" value="<%= data[0].isTask %>">
                <textarea class="form-control" id="MyID" name="description"><%= data[0].content %></textarea>
            </form>
            <% } else if(data[0].isTask=='1' ) {%>
                <form action="/edit_task/<%= data[0].lesson_id %>/<%= data[0].id %>" method="post" class="submit-form" id="update_task">
                    <div class="text-end mb-3">
                        <input type="submit" value="Update" class="btn btn-danger w-25">
                        <input type="hidden" name="isTask" value="<%= data[0].isTask %>">
                        <input type="hidden" name="lesson_id" value="<%= lesson_id %>">
                    </div>
                    <div class="mb-2">
                        <label for="title" class="form-label">Level Title</label>
                        <input type="text" name="title" id="title" class="form-control" value="<%= data[0].level_name %>"
                            required>
                    </div>
                    <div class="mb-2">
                        <label for="isEnabled" class="form-label"><span class="text-white">Enable</span> <span class="text-danger">*</span></label>
                        <select name="isEnabled" id="isEnabled" class="form-select">
                            <option value="0" <%= data[0].isEnabled == '0' ? "selected" : ""%>>No</option>
                            <option value="1" <%= data[0].isEnabled == '1' ? "selected" : ""%>>Yes</option>
                        </select>
                    </div>
                    <div class="container" id="question-container">
                        <% JSON.parse(data[0].content).forEach((item,i)=> { %>
                            <div class="mt-5 border">
                                <div class="remove-question btn btn-danger float-end m-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor" class="mt-1" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                    </svg>
                                </div>
                                <div class="m-2">
                                    <label>Question</label>
                                    <textarea name="question[]" class="form-control" required><%= item.question %></textarea>
                                </div>
                                <div class="choice-container m-2" aria-value="<%= i %>">
                                    <% item.choices.forEach((choice,j)=> { %>
                                        <div class="input-group my-2">
                                            <div class="input-group-text">
                                             
                                                <input class="form-check-input mt-0" type="radio" <%= choice == item.answer ? "checked" : "" %> value="<%= choice %>"
                                                    name="correctAnswer[<%= i %>]">
                                            </div>
                                            <input type="text" class="form-control option-input" value="<%= choice %>"
                                                autocomplete="off" name="questionChoice[]" onclick="this.select();"
                                                required>
                                            <div class="btn btn-danger remove-choice m-0">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="28" fill="currentColor" class="mt-1" viewBox="0 0 16 16">
                                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                                <input type="hidden" name="choice_length" value="<%= item.choices.length %>"
                                    class="choice-counter">
                                    <div class="m-2">
                                        <label for="description">Description of Correct Answer</label>
                                        <textarea name="description[]" class="form-control" id="description"><%= item.description %></textarea>
                                    </div>
                                <div class="btn btn-primary m-2 add-choice">Add Choice</div>
                            </div>
                            <% }); %>
                    </div>
                    <div class="btn btn-primary float-end mt-3" id="addQuestion">Add Question</div>
                </form>
                <% }else if(data[0].isTask=='2') {%> 
                    <%- include('../code/editCode') %>
                <%} %>
    </div>
    <script src="/simplemde.min.js"></script>
    <% if(data[0].isTask == '0'){ %>
    <script src="../../../../js/taskScript.js"></script>
    <% } %>
    <%- include('../shared/footer') %>