<%- include('../shared/header') %>
    <div class="d-flex level-container">
        <div class="p-2 sidebar d-none d-lg-block">
            <div class="list-group">
                <% var next,prev; %>
                <a href="/lesson/<%=data[0].lesson_id%>" class="text-start list-group-item active bg-secondary border-0 list-group-item-action btn btn-transparent mt-1">Back</a>
                <% lists.forEach((list,i)=> { %>
                    <% if(list.id==data[0].id) { %>
                        <div class="list-group-item active mt-1 rounded">
                            <%= list.level_name %>
                            <% 
                                prev = lists[i - 1].id;
                                next = lists[i + 1].id;
                            %>
                        </div>
                        <% } else { %>
                            <a href="/material/<%=list.lesson_id%>/level/<%=list.id%>"
                                class="text-start list-group-item list-group-item-action btn btn-transparent mt-1">
                                <%= list.level_name %>
                            </a>
                            <% } %>
                                <% }); %>
                                <a href="/material/<%= data[0].lesson_id %>/feedback"
                                    class="text-start list-group-item list-group-item-action btn btn-transparent mt-1">
                                    Feedback
                                </a>
            </div>
        </div>
        
        <div class="p-2 col-10">
            <div>
                <% if(data[0].isEnabled == '1' && roles.indexOf('admin') !== -1) { %>
                    <span class="badge text-bg-success w-25">Enabled</span>
                <% } else { %>
                    <span class="badge text-bg-secondary w-25" >Disabled</span>
                <% }  %>
            </div>
            <h2 class="m-2 d-inline-block align-middle">
                <%= data[0].level_name %>
            </h2>
            <% if(roles.indexOf('admin') !==-1) { %>
                <a href="/material/<%=data[0].lesson_id%>/level/<%= data[0].id %>/edit" class="align-middle btn btn-danger">Edit
                    Level</a>
                <% if(data[0].isTask == '1') { %>
                <a href="/material/<%=data[0].lesson_id%>/level/<%= data[0].id %>/answers" class="btn btn-primary">All Answer</a>
                <% } %>
            <% } %>
            <% if(data[0].isTask == '1' && roles.indexOf('admin') == -1) { %>
                <a href="/material/<%=data[0].lesson_id%>/level/<%= data[0].id %>/history" class="btn btn-secondary">History</a>
            <% } %>
            <div>
                <span class="text-white fs-6 p-2">Updated @ <%= new Date(data[0].updated_at).toLocaleDateString() %></span>
            </div>
            <div class="mb-2">
                <a href="/material/<%= data[0].lesson_id %>/level/<%= prev %>" class="btn btn-secondary float w-25">Prev</a>
                <a href="/material/<%= data[0].lesson_id %>/level/<%= next %>" class="btn btn-secondary float-end w-25">Next</a>
            </div>
            <div class="container level-content" id="question-container">
                <%JSON.parse(data[0].content).forEach((item,i)=> { %>
                    <div class="mt-5 p-1 glass-container">
                        <div class="m-2">
                            <label>Question</label>
                            <pre><%= item.question %></pre>
                        </div>
                        <div class="choice-container m-2" aria-value="0">
                            <% item.choices.forEach((choice)=> { %>
                            <div class="input-group my-2">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="radio"
                                        value="<%= choice %>" name="answers[<%= i %>]" <%= answers[i] == choice ? "checked" : "" %> required disabled>
                                </div>
                                <input type="text" class="form-control option-input
                                 <%=  (item.answer !=  answers[i] && answers[i] == choice) ? 'bg-danger' : 
                                 (item.answer ==  answers[i] && answers[i] == choice) ? 'bg-success' : '' %>"
                                    value="<%= choice %>" autocomplete="off" 
                                    readonly disabled >
                            </div>
                            <% }); %>
                            <div class="form-control">
                                <p>Description of Correct Answer:</p>
                                <p><%= item.description %></p>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <div class="m-4">
                    <form action="/material/<%=data[0].lesson_id%>/level/<%= data[0].id %>" method="get">
                        <input type="hidden" name="event" value="retake">
                        <input class="mb-2 btn btn-danger float-end w-25" value="Retake" type="submit">
                    </form>
                </div>
        </div>
        </div>
    </div>
    <%- include('../shared/footer') %>