<%- include('../shared/header') %>
    <style>
        .CodeMirror {
            height: 90% !important;
            border: 0px !important;
        }
    </style>
    <div class="d-flex level-container">
        <div class="p-2 sidebar">
            <div class="list-group">
                <% lists.forEach(list=> { %>
                    <% if(list.id==data[0].id) { %>
                        <div class="list-group-item active">
                            <%= list.level_name %>
                        </div>
                        <% } else { %>
                            <a href="/material/<%=list.lesson_id%>/level/<%=list.id%>"
                                class="text-start list-group-item list-group-item-action btn btn-transparent">
                                <%= list.level_name %>
                            </a>
                            <% } %>
                                <% }); %>
            </div>
        </div>
        <div class="p-2 flex-fill">
            <h2 class="m-2 d-inline-block align-middle">
                <%= data[0].level_name %>
            </h2>
            <% if(roles.indexOf('admin') !==-1) { %>
                <a href="/material/<%=data[0].lesson_id%>/level/<%= data[0].id %>/edit" class="align-middle btn btn-danger">Edit
                    Level</a>
                <% if(data[0].isTask == '1') { %>
                <a href="/material/<%=data[0].lesson_id%>/level/<%= data[0].id %>/answers" class="btn btn-primary">All Answer</a>
                <% } %>
            <% } %>
                    <% if(data[0].isTask=='0' ) { %>
                    <textarea id="previewMode"><%= data[0].content %></textarea>
                    <% }else if(data[0].isTask=='1'){ %>
                    <form action="/submit/task/<%=data[0].lesson_id%>/<%= data[0].id %>" method="post">
                        <input type="hidden" value="">
                        <%JSON.parse(data[0].content).forEach((item,i)=> { %>
                        <div class="container" id="question-container">
                            <div class="mt-5 border">
                                <div class="m-2">
                                    <label>Question</label>
                                    <pre><%= item.question %></pre>
                                </div>
                                <div class="choice-container m-2" aria-value="0">
                                <% item.choices.forEach((choice)=> { %>
                                    <div class="input-group my-2">
                                        <div class="input-group-text">
                                            <input class="form-check-input mt-0" type="radio"
                                                value="<%= choice %>" name="answers[<%= i %>]" required>
                                        </div>
                                        <input type="text" class="form-control option-input"
                                            value="<%= choice %>" autocomplete="off"
                                            name="questionChoice[]" readonly disabled>
                                    </div>
                                <% }); %>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                        <div class="m-4">
                            <input type="submit" class="mb-2 btn btn-danger float-end w-25"
                                value="Submit">
                        </div>
                    </form>
                    <% }else if(data[0].isTask == '2'){ %>
                        <%- include('../code/index') %>
                    <% } %>

        </div>
    </div>
    <script src="/simplemde.min.js"></script>
    <script>
        $(document).ready(function () {
            var previewMde = new SimpleMDE({
                element: $("#previewMode")[0],
                renderingConfig: {
                    codeSyntaxHighlighting: true,
                },
                toolbar: null,
                status: false,
            });
            // previewMde.value()
            previewMde.togglePreview();
        })
    </script>
    <%- include('../shared/footer') %>