<%- include('../shared/header') %>
    <style>
        @media only screen and (min-width:1024px) {
            .CodeMirror {
                height: 85% !important;
                border: 0px !important;
            }
        }
        .CodeMirror, .CodeMirror-scroll {
            min-height: 200px;
        }
    </style>
    <% var next = "",prev = ""; %>
    <div class="d-flex level-container">
        <div class="p-2 sidebar d-none d-lg-block">
            <div class="list-group">
                <a href="/lesson/<%=data[0].lesson_id%>" class="text-start list-group-item active bg-secondary border-0 list-group-item-action btn btn-transparent mt-1">Back</a>
                <% lists.forEach((list,i)=> { %>
                    <% if(list.id==data[0].id) { %>
                        <div class="list-group-item active mt-1 rounded">
                            <%= list.level_name %>
                            <% 
                                if(lists[i - 1] != undefined) prev = lists[i - 1].id;
                                if(lists[i + 1] != undefined) next = lists[i + 1].id;
                            %>
                        </div>
                        <% } else { %>
                            <% if(list.level_enabled == '1' || roles.indexOf('admin') !==-1) { %>
                            <a href="/material/<%=list.lesson_id%>/level/<%=list.id%>"
                                class="text-start list-group-item list-group-item-action btn btn-transparent mt-1">
                                <%= list.level_name %>
                            </a>
                            <% } } %>
                                <% }); %>
                                <a href="/material/<%=data[0].lesson_id%>/feedback"
                                    class="text-start list-group-item list-group-item-action btn btn-transparent mt-1">
                                    Feedback
                                </a>
            </div>
        </div>
        <div class="p-2 col-10">
            <%  if(data[0].isTask == '1' && roles.indexOf('admin') !== -1) {%>
                <div>
                    <% if(data[0].isEnabled == '1') { %>
                        <span class="badge text-bg-success w-25">Enabled</span>
                    <% } else { %>
                        <span class="badge text-bg-secondary w-25" >Disabled</span>
                    <% }  %>
                </div>
            <% } %>
            <h2 class="m-2 d-inline-block align-middle text-white">
                <%= data[0].level_name %>
            </h2>
            <% if(roles.indexOf('admin') !==-1) { %>
                <a href="/material/<%=data[0].lesson_id%>/level/<%= data[0].id %>/edit" class="align-middle btn btn-danger">Edit</a>
                <% if(data[0].isTask == '1') { %>
                <a href="/material/<%=data[0].lesson_id%>/level/<%= data[0].id %>/answers" class="btn btn-primary">All Answer</a>
                <% } %>
            <% } %>
            <div>
                <span class="text-white fs-6 p-2">Updated @ <%= new Date(data[0].updated_at).toLocaleDateString() %></span>
            </div>
                    <% if(data[0].isTask=='0' ) { %>
                    <div class="mb-2 <%= (next != "" && prev == "") ? "text-end" : ""%>">
                        <% if(prev != "") { %>
                            <a href="/material/<%= data[0].lesson_id %>/level/<%= prev %>" class="btn btn-secondary float w-25">Prev</a>
                        <% } %>
                        <% if(next != "" && prev == "" ) { %>
                            <a href="/material/<%= data[0].lesson_id %>/level/<%= next %>" class="btn btn-secondary w-25">Next</a>
                        <% }else if(next != ""){ %>
                            <a href="/material/<%= data[0].lesson_id %>/level/<%= next %>" class="btn btn-secondary float-end w-25">Next</a>
                        <% } %>
                    </div>
                    <textarea id="previewMode"><%= data[0].content %></textarea>
                    <% }else if(data[0].isTask=='1'){ %>
                    <% let n = JSON.parse(data[0].content).length;
                    let arr = [];
                    i = 0;
                    while(i < n){
                        let j = 0;
                        let rand = Math.floor(Math.random() * n)
                        if(arr.includes(rand)){
                            j++;
                            rand = Math.floor(Math.random() * n)
                        }else{
                            i++
                            arr.push(rand);
                        }
                    }
                    %>
                    <div class="mb-2">
                        <a href="/material/<%= data[0].lesson_id %>/level/<%= prev %>" class="btn btn-secondary float w-25">Prev</a>
                        <a href="/material/<%= data[0].lesson_id %>/level/<%= next %>" class="btn btn-secondary float-end w-25">Next</a>
                    </div>
                    <form action="/submit/task/<%=data[0].lesson_id%>/<%= data[0].id %>" method="post" class="level-content submit-form">
                        <input type="hidden" value="<%=arr%>" name="numberArr">
                        <input type="hidden" name="school_year" value="<%= data[0].school_year %>">
                        <input type="hidden" name="isRetake" value="<%= isRetake == "retake" ? 1 : 0 %>">
                        <div class="container" id="question-container">
                        <%JSON.parse(data[0].content).forEach((item,i)=> { %>
                            <div class="mt-5 p-1 glass-container">
                                <div class="m-2">
                                    <label>Question</label>
                                    <p>
                                        <%= JSON.parse(data[0].content)[arr[i]].question %>
                                    </p>
                                </div>
                                <div class="choice-container m-2" aria-value="0">
                                <% JSON.parse(data[0].content)[arr[i]].choices.forEach((choice)=> { %>
                                    <div class="input-group my-2">
                                        <div class="input-group-text">
                                            <input class="form-check-input mt-0" type="radio"
                                                value="<%= choice %>" name="answers[<%= arr[i] %>]" required>
                                        </div>
                                        <input type="text" class="form-control option-input"
                                            value="<%= choice %>" autocomplete="off"
                                            name="questionChoice[]" readonly disabled>
                                    </div>
                                <% }); %>
                                </div>
                            </div>
                            <% }); %>
                            <div class="m-4">
                                <input type="submit" class="mb-2 btn btn-danger float-end w-25"
                                    value="Submit">
                            </div>
                        </div>
                    </form>
                    <% }else if(data[0].isTask == '2'){ %>
                        <%- include('../code/index') %>
                    <% } %>

        </div>
    </div>
    <script src="/simplemde.min.js"></script>
    <script>
        $(document).ready(function () {
            var previewMde = new SimpleMDE({
                element: $("#previewMode")[0],
                renderingConfig: {
                    codeSyntaxHighlighting: true,
                },
                toolbar: null,
                status: false,
            });
            // previewMde.value()
            previewMde.togglePreview();
        })
    </script>
    <%- include('../shared/footer') %>